/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2019, 4:48:21 PM
    Author     : stephen
*/


body {
  margin: 0;
  padding: 5px;
  font-family: Circular, Helvetica Neue, Roboto, sans-sefif;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
}


.main {
  margin: 0 auto;
  display: table;
  width: 85%;
}

.show-all {
  flex-direction: row;
}

.show-all-product {
  color: #9f7dfe;
  text-decoration: none;
}

.show-all-product:hover {
  text-decoration: #9f7dfe;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #CECECE;
  height: 90
}

.topnav svg {
  float: left;
  display: block;
  padding: 10px 14px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 2px solid #FC2E51;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container {
  background-color: #ffffff !important;
  transition: box-shadow 200ms ease-in !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  height: 48px !important;
  width: 460px !important;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.product-count .product-medium-price {
  letter-spacing: 4px;
  font-weight: 400
}

.search-result-element {
  display: inline;
  margin: 0.5em;
}

.search-result-element:hover {
  background: #1da1f2; 
  color: white;
}

input:focus {
  outline-width: 0;
}

#searchProduct {
  position: absolute;
  background: white; 
  z-index: 999;   
}