.product-detail-wrapper {
  height: 500px;
  width: 920px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-detail-img {
  display: none;
}

.product-detail-img img {
  border-radius: 7px 0 0 7px;
 }

.product-detail-info {
  float: right;
  height: 500px;
  width: 573px;
  padding-left: 7px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-info-detail-text {
  height: 400px;
  width: 493px;
}

.product-info-detail-text h1 {
  margin: 0 0 0 34px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}
  

.product-info-detail-text h2 {
  margin: 0 0 38px 38px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}
  
.product-info-detail-text p {
  height: 125px;
  margin: 0 0 0 38px;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

.product-detail-price-btn {
  height: 85px;
  width: 583px;
  margin-top: 22px;
  position: relative;
}
  
.product-detail-price-btn p {
  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 0 0 0 23px;
  font-size: 28px;
  font-weight: 300;
  color: #474747;
}
  
span {
  display: inline-block;
  height: 50px;
  font-size: 34px;
}
  
.product-detail-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 0px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9f7dfe;
  cursor: pointer;
  outline: none;
}

.slideshow-container {
  float: left;
  max-width: 327px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}